.content {
    margin-left: var(--sidebarWidth);
    margin-top: 60px;
    height: calc(100vh - 120px);
    width: calc(100vw - var(--sidebarWidth));
    padding: 20px;
}

.content_collapsed{
    margin-left: 80px;
    margin-top: 60px;
    height: calc(100vh - 120px);
    width: calc(100vw - 80px);
    padding: 20px;
}