@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #234d49;
  --primary-light: #35858B;
  --primary-dark: #35858B;
  --primary-darker: #072227;

  --secondary: #ff4d4f;
  --secondary-light: #FFE6E6;
  --secondary-dark: #B22222;
  --secondary-darker: #8B0000;

  --table-even : #eeeeee;


  --sidebarWidth: 220px;
  --headerHeight: 60px;
  --footerHeight: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.ant-scrolling-effect {
  width: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*  Card  */
.ant-card-bordered {
  border-radius: 10px;
}


/*  Table  */

.pharma-table-container {
  padding: 8px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 25%);
  overflow-x: overlay;
}

.pharma-table-header {
  background-color: white;
  padding-bottom: 8px;
}

.pharma-table {
  font-family: arial, sans-serif;
  width: 100%;
}

.pharma-table>tbody>tr>td {
  text-align: left;
  padding: 8px;
}

.pharma-table>thead>tr>th {
  text-align: left;
  padding: 8px;
  background-color: var(--primary);
  color: white;
}

.pharma-table>tbody>tr:nth-child(even) {
  background-color: var(--table-even);
}


.pharma-table-header>h2 {
  margin-bottom: 0;
  color: whitesmoke;
}

.pharma-table-action {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.pharma-table-action-icon {
  
}

.pharma-table-action-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pharma-table-pagination-container {
  padding: 15px !important;
  margin: auto;
  text-align: center;
}

/*  Button  */

.button-primary {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 5px 15px;
}

.button-primary:hover {
  cursor: pointer;
  background-color: var(--primary-light);
}

.button-success {
  background-color: #35858B;
}

.table-spin-container {
  padding: 100px 50%;
}